:root {
	--pry-color: #0066db;
	--sec-color: #ff6600;
	--sec-light-color: #ff8c00;
	--dark: #1e1e24;
	--light: #ffffff;
	--gray-bk: #f9f9fb;
	--gray: #aeb1a9;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
	scroll-behavior: smooth;
}

body {
	background-color: var(--gray-bk);
	width: 100%;
	display: flex;
	flex-direction: column;
}

.text-700 {
	font-weight: 700;
}

.box-shadow {
	box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
}

.box-shadow-2 {
	// border-radius: 27.007px;
	background: var(--white, #fcfcfc);
	box-shadow: 0px 2.7006633281707764px 2.7006633281707764px 0.6751658320426941px
		rgba(0, 0, 0, 0.23);
}
